<link href="quote.component.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Open+Sans&display=swap" rel="stylesheet">

<div class="container-fluid">
  <div class="title">
    <br><br><br><br><br>
    <h1><em>Quotes</em></h1>
    <br><br><br><br><br>
  </div>
  <br>
  <div class="formButton">
    <button class="btn btn-outline-success"> <a href="#form">Add new quote</a> </button>
  </div>
    <div class="quotesDisplay">
      <div *ngFor='let quote of quotes; let i = index'>
        <div>
          <p class="quote" appHighlight  *ngIf="highlighter()=== quote.upvotes && quote.upvotes>0">
            
            "{{ quote.quote }}"
            <br>
          </p><br>
          <p class="quote" *ngIf="highlighter()!==quote.upvotes || quote.upvotes===0">
            <br>
            "{{ quote.quote }}"
            <br>
          </p><br>
          <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-6" id="details">
                  <button (click) = 'upvote(i)' class="btn"><img src="https://i.redd.it/06fvinjqymy21.png" width="30" height="30"></button>
                  <p>Total upvotes: {{ quote.upvotes }} </p>
                </div>
                <div class="col-md-6">
                  <button (click) = 'downvote(i)' class="btn"><img src="https://i.imgur.com/eqLD2.png" width="30" height="30"></button>
                  <p>Total downvotes: {{ quote.downvotes }} </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">

            </div>
          </div>
          <br>
          <button (click) = 'toggleDetails(i)' class="btn btn-outline-primary"><a class="details" href="#details">Toggle Details</a></button>
          <app-quote-detail  *ngIf= 'quote.showDescription' [quote] = 'quote'(isComplete)='deleteQuote($event,i)'></app-quote-detail>
        </div>
        <hr>
      </div>
      
    </div>
    <div class="form" id="form" >
      <br>
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      <br><br><br>
    </div>
  
</div>
