.title {
  background-image: url(https://static.wixstatic.com/media/5ad191_16907ecd3e0643669dba71b8045a14a7~mv2.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Cardo', serif;
  
}

.container-fluid{
  font-family: 'Open Sans', sans-serif;
}